@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');


:root {
    --dark-color: #232526;
    --light-color: #f5f5f5;
}

/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #232526;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh; 
    margin: 0px auto;
    max-width: 1320px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f5f5f5;
    scroll-snap-align: start;
    position: relative;
}

/* HOME TOP ROW */
/* MENU SELECTION */
.menu {
    color: #232526;
    position: fixed;
    top: 75px;
    z-index: 10;
    display: flex;
    align-items: center;
    visibility: visible;
}

.menu ul li {
    font-size: 1.3em;
    margin-bottom: 5px;
    list-style: none;
    color: #232526;
}

.menu ul li:last-child {
    margin-bottom: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #232526;
}

.menu ul li a:visited {
    text-decoration: none;
    color: #232526;
}

.menu .single-line {
    background-color: #232526;
    width: 4px;
    height: 115px;
    margin-right: 15px;
    position: relative;
}

.menu .dot {
    position: absolute;
    transition: 0.5s ease;
    top: 0px;
    left: -11px;
}


/* BURGER */

.burger-container {
    position: fixed;
    z-index: 10;
    top: 25px;
    right: 25px;
    visibility: hidden;
}

.burger-container .burger-button {
    background: transparent;
    border: none;
    fill: #232526;
}

/* BURGER ANIMATION */
.burger-button .line {
    transition: 
        transform 100ms ease-in 100ms,
        opacity 0ms 100ms;
    transform-origin: center;
}

.burger-button.active .line {
    transition: 
        transform 100ms ease-in ,
        opacity 0ms 100ms;
    transform-origin: center;
}

.burger-button.active .top {
    transform: translateY(15px) rotate(45deg);
}

.burger-button.active .middle {
    opacity: 0;
    transition: opacity 0ms;
}

.burger-button.active .bottom {
    transform: translateY(-15px) rotate(-45deg);
}


/* END BURGER ANIMATION */

.burger-menu {
    width: 160px;
}

.burger-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;
    padding: 5px 10px 5px 10px;
    background-color: var(--light-color);
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 50px;
    
    transition: opacity 300ms ease;
}

.burger-list.active {
    visibility: visible;
    
}

.burger-container ul li {
    font-size: 1.3em;
    margin-bottom: 10px;
    list-style: none;
    color: #232526;
}

.burger-container ul li a {
    text-decoration: none;
    color: #232526;
}

.burger-container ul li a:visited {
    text-decoration: none;
    color: #232526;
}

.burger-langage ul {
    display: flex;
    font-size: 0.9em;
    align-items: center;
}

.burger-langage .separator {
    background-color: #232526;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 15px;
    width: 1px;
}

.burger-langage a {
    text-underline-offset: 3px;
}

.burger-langage .btn-fr a {
    text-decoration: underline;
}

.burger-mode ul {
    display: flex;
    align-items: center;
}

.burger-mode .separator {
    background-color: #232526;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 18px;
    height: 18px;
    width: 1px;
}

.burger-mode ul li iconify-icon{
    padding-bottom: 3px;
 }

.burger-mode .light iconify-icon {
    border-bottom: 1px solid #232526;
}

/* LANGAGE SWITCH */
.fr-en {
    color: #232526;
    position: absolute;
    right: 75px;
    top: 75px;
    font-size: 1.3em;
}

.fr-en ul {
    display: flex;
    align-items: center;
}

.fr-en ul li {
    list-style: none;
    color: #232526;
}

.fr-en ul li a {
    text-decoration: none;
    color: #232526;
    cursor: pointer;
}

.fr-en ul li a:visited {
    text-decoration: none;
    color: #232526;
}

.fr-en a {
    text-underline-offset: 5px;
}

.fr-en .btn-fr a {
    text-decoration: underline;
}

.fr-en .separator {
    background-color: #232526;
    width: 1px;
    height: 15px;
    margin-right: 8px;
    margin-left: 8px;
}


/* HOME MID ROW */
.home-mid-row {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-pic img {
    max-width: 300px;
    margin-right: 50px;
    border-radius: 40px;
    margin-left: 150px;
}

.description h1 {
    font-size: 3.6em;
    margin-bottom: 30px;
}

.description h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 30px;
}

.description h3 {
    font-size: 2em;
    font-weight: 400;
}

.description span {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* LIGHT-DARK SWITCH */
.darklight {
    color: #232526;
    position: fixed;
    bottom: 50px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.darklight ul li {
    list-style: none;
    color: #232526;
    font-size: 1.1em;
}

.darklight ul li.light {
    margin-bottom: 10px;
}

.darklight ul li a {
    text-decoration: none;
    color: #232526;
}

.darklight ul li a:visited {
    text-decoration: none;
    color: #232526;
}

.darklight .single-line {
    background-color: #232526;
    width: 2px;
    height: 48px;
    margin-right: 15px;
    position: relative;
}

.darklight .dot {
    position: absolute;
    top: 2px;
    left: -8px;
    transition: 0.5s ease;
}


/* PROJET */
.swiper {
    width: 600px;
    
    
  }

.swiper-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}


.swiper-button-prev {
    color : var(--dark-color) !important;
}

.swiper-button-disabled {
    visibility: hidden !important;
}

.swiper-button-next {
    color : var(--dark-color) !important;
}

/* .swiper-pagination-bullet {
    background-color: rgb(0, 0, 255) !important;
    opacity: 1 !important;
} */

.swiper-pagination-bullet-active {
    background-color: var(--dark-color) !important;
    color: rgba(0, 0, 255, 0.156)
}

/* PROJECT */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#projects>h2 {
    visibility: hidden;
}

.card {
   max-width: 380px;
   height: auto;
   border-radius: 5px;
   background: radial-gradient(#111 50%, #000 100%);
   position: relative;
   outline: none;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid rgba(35, 37, 38, 0.373);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
    outline: none;
}

.card:hover img {
    transform: scale(1.1);
    opacity: 0.1;
}


/* CARD CONTENT */
.card-content {
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(0);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.card-content h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 80px;
}

.card-content iconify-icon {
    margin-bottom: 20px;
    font-size: 40px;
}


.card-content p {
    width: 80%;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 50px;
}

.js-logo iconify-icon {
    font-size: 60px;
}

.icon .js {
    font-size: 100px;
}

.card-icon  ul {
    display: flex;
    align-items: center;
} 

.card-icon  ul li {
    list-style: none;
    margin-right: 20px;
}

.card-content a {
    font-weight: 500;
    text-decoration: none;
    color: #232526;
    padding: 0.8rem 1.5rem;
    border-radius: 35px;
    background-color: #f5f5f5;
}

.card-content a:visited {
    text-decoration: none;
    color: #232526;
}

.card:hover .card-content {
    transform: translateY(-50px);
    opacity: 1;
}


/* ABOUT MAIN */
.about-container {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-main, .skills, .links {
    width: 750px;
}

.about-main h1 {
    font-size: 2.6em;
    font-weight: 400;
    margin-bottom: 30px;
}

.about-main p {
    font-size: 1.4em;
    margin-bottom: 40px;
    font-weight: 400;
}

.skills h2, .links h2 {
    font-size: 2.1em;
    font-weight: 400;
    margin-bottom: 30px;
}

.stacks {
    display: flex;
    margin-bottom: 40px;
}

.stacks h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 15px;
}

.stacks ul {
    margin-right: 100px;
}

.stacks li {
    list-style: none;
    font-size: 1.4em;
    margin-bottom: 20px;
    border-radius: 25px;
}

.stack {
    display: flex;
}

.stack iconify-icon {
    margin-right: 15px;
}

.links iconify-icon {
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    color: var(--dark-color)
}

.links a:visited {
    text-decoration: none;
    color: var(--dark-color)
}

.links .resume {
    border: 2px solid var(--dark-color);
    border-radius: 10px;
    background-color: var(--dark-color);
}

/* CONTACT */
#contact {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 900px;
    height: 1000px;
    display: flex;
    justify-content: center;
    
}

form {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.form label {
    font-size: 1.4rem;
}

.input-form {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
    
}

.input-form :is(input, textarea) {
    width: 500px;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 10px;
    resize: none;
    font-size: 1.2em;
}

.input-form textarea {
    height: 100px;
}

.input-form iconify-icon {
    opacity: 0;
    margin-left: 10px;
}

.submit-button {
    display: flex;
    justify-content: end;
    width: 510px;
    position: relative;
    margin-left: -40px;
}

.contact-btn {
    color : #232526;
    font-size: 1.4em;
    margin-top: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    z-index: 10;
}

.submit-button .sent-msg {
    display: flex;
    align-items: center;
    margin-top: 5px;
    position: absolute;
    opacity: 0;
    font-size: 1.4em;
}

.invalid {
    display: flex;
    align-items: center;
    gap: 20px
}

.invalid small {
    color:red;
    opacity: 0;
}

.required {
    font-size: 0.8em;
}
